<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>band name generator </title>
</head>

<body>
    <h1> Generateur de noms de groupes</h1>
    <form action="/generate" method="POST">
        <button name="action" value="check_db">verification de la connexion a la base de donnees</button>
        <button name="action" value="generate">generer noms</button>
    </form>
    <% if (message) { %>
        <p><strong>
                <%= message %>
            </strong></p>
        <% } %>
            <% if (names.length> 0) { %>
                <h2>band names </h2>
                <ol>
                    <li>
                        <%= name %>
                    </li>

                    <% } %>
                </ol>
                <% } %>
                    <hr>
                    <p>phpMyadmin:<a href="http://localhost:8086">http://localhost:8086</a></p>
</body>

</html>